.App {
  margin-top: 15%;
  text-align: center;
}

#startTimer {
  border-radius: 20px;
  background: #3493ce;
  color: white;
  border: none;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  cursor: pointer;
  outline: none;
}

#startTimer:active {
  top: 3px;
  left: 2px;
}

body, html{
  margin:0;
  padding:0;
}

#modal{
  width: 100px;
  height: 100px;
  border: 1px;
}

.timeDiv {
  font-size: 70px;
}

input {
  height: 50px;
  border-radius: 5px;
  float: left;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 40px;
}