.hidden {
  display: none; }

.inline-block, .timer-btn, .gray-btn, .input-time {
  display: inline-block; }

.App {
  margin-top: 15%;
  text-align: center; }

.timer-btn, .gray-btn {
  border-radius: 20px;
  color: white;
  border: none;
  padding: 20px 60px;
  margin: 15px 30px;
  cursor: pointer;
  outline: none;
  font-size: 20pt; }
  .timer-btn:active, .gray-btn:active {
    top: 3px;
    left: 2px; }

.primary-btn {
  background: #3493ce; }
  .primary-btn:hover {
    cursor: pointer;
    background: #2b7daf; }

.orange-btn {
  background: #f4a742; }
  .orange-btn:hover {
    cursor: pointer;
    background: #db963b; }

.red-btn {
  background: red; }
  .red-btn:hover {
    cursor: pointer;
    background: darkred; }

.gray-btn {
  background: gray; }
  .gray-btn:hover {
    cursor: pointer;
    background: darkgray; }

#openNav {
  margin-top: 20px; }
  #openNav:hover {
    cursor: pointer;
    color: #3493ce; }

body, html {
  margin: 0;
  padding: 0; }

#modal {
  width: 100px;
  height: 100px;
  border: 1px; }

.time {
  font-size: 70px; }

#OptionsModal {
  margin-left: 20%; }

input {
  height: 50px;
  float: left;
  margin-top: 40px;
  font-size: 30px;
  margin-left: 5px;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 60px;
  padding-bottom: 0px;
  text-align: center;
  background: none;
  color: white; }

.dot-separator {
  background: none;
  border: none;
  width: 5px;
  font-weight: 800; }

input:focus {
  outline-width: 0;
  caret-color: white; }

.fa-gear {
  margin-right: 5px; }
