$button-blue: #3493ce;
$hover-blue: #2b7daf;
$button-orange: #f4a742;
$hover-orange: #db963b;

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.App {
  margin-top: 15%;
  text-align: center;
}

.timer-btn {
  border-radius: 20px;
  color: white;
  border: none;
  padding: 20px 60px;
  @extend .inline-block;
  margin: 15px 30px;
  cursor: pointer;
  outline: none;
  font-size: 20pt;

  &:active {
    top: 3px;
    left: 2px;
  }
}

.primary-btn {
  background: $button-blue;
  
  &:hover {
    cursor: pointer;
    background: $hover-blue;
  }
}

.orange-btn {
  background: $button-orange;

  &:hover {
    cursor: pointer;
    background: $hover-orange;
  }
}

.red-btn {
  background: red;
  &:hover {
    cursor: pointer;
    background: darkred;
  }
}

.gray-btn {
  @extend .timer-btn;
  background: gray;
  &:hover {
    cursor: pointer;
    background: darkgray;
  }
}

#handleOpenNav {
  margin-top: 20px;
  &:hover {
    cursor: pointer;
    color: $button-blue;
  }
}

body, html{
  margin:0;
  padding:0;
}

#background {
  background: url('lake.jpg');
  background-repeat: no-repeat;
}
#modal{
  width: 100px;
  height: 100px;
  border: 1px;
}

.time {
  font-size: 70px;
}

#OptionsModal {
  margin-left: 20%;
}

input {
  height: 50px;
  float: left;
  margin-top: 40px;
  font-size: 30px;
  margin-left: 5px;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 60px;
  padding-bottom: 0px;
  text-align: center;
  background: none;
  color: white;
}

.dot-separator{
  background: none;
  border: none;
  width: 5px;
  font-weight: 800;
}

input {
  &:focus {
    outline-width: 0;
    caret-color: white;
  }
}


.fa-gear {
  margin-right: 5px;
}

.input-time {
  @extend .inline-block;
}

.disabled-btn {
  @extend .timer-btn;
  color: #c5c8cc;
  background: #e0e2e5;
  cursor: not-allowed !important;
}

.small-text {
  font-size: 16pt;
}